name: Runner Type In My Workshop
on:
    workflow_dispatch:
jobs:
    github-hosted-windows-vm:
        name: windows
        runs-on: windows-2022
        steps:
            - name: pwsh
              run: |
                  $PSVersionTable
                  get-wmiObject -Class Win32_OperatingSystem | fl *
    container-hostsed-ubuntu-vm:
        name: node
        runs-on: ubuntu-24.04
        container:
            image: node:trixie
        steps:
            - name: node 包版上傳
              run: |
                  node -v
                  npm create vite@latest .
                  npm install
                  npm run build
                  ls
                  pwd
            - name: Upload artifact
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2

              with:
                  name: nextjs-artifact
                  path: ./dist
    container-home-ubunto-vm:
        name: u24
        runs-on: self-hosted
        steps:
            - name: show info
              run: |
                  # ps -ef
                  #cat /etc/os-release

                  whoami
                  echo 'Do things in u24'
                  cd /
                  ls
                  df -kh

    checkout-code-u24:
        name: checkout code
        runs-on: self-hosted
        steps:
            - name: Checkout Repository
              # 修正 1: 使用正確的 Action 引用 (actions/checkout@v4 是目前穩定的版本)
              uses: actions/checkout@163217dfcd28294438ea1c1c149cfaf66eec283e
              with:
                  path: ./custom-repo-dir
                  fetch-depth: 1 # 建議使用 fetch-depth=1 提高速度

            # 2. 運行您的業務邏輯
            - name: Run Build and Test
              run: |
                  echo "Working in the custom directory..."
                  ls ./custom-repo-dir

                  # 假設您在該目錄內執行一些操作
                  cd ./custom-repo-dir
                  # ... 您的構建/測試命令 ...
                  echo "Show in the custom directory............."
                  pwd
            - name:
                  Clean up working directory
                  # 使用 'always()' 確保無論 Job 成功或失敗都會執行清理
              if: always()
              run: |
                  echo "Starting cleanup of custom-repo-dir..."
                  # 刪除您在步驟 1 中創建的目錄
                  rm -rf ./custom-repo-dir
                  echo "Cleanup complete."
