name: Runner Type In My Workshop
on:
    workflow_dispatch:
jobs:
    github-hosted-windows-vm:
        name: windows
        runs-on: windows-2022
        steps:
            - name: pwsh
              run: |
                  $PSVersionTable
                  get-wmiObject -Class Win32_OperatingSystem | fl *
